@font-face {
  font-family: "CookieRunOTF-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CookieRunOTF-Black";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Black00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CookieRun-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NEXON Lv2 Gothic Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}
body {
  font-family: "NEXON Lv1 Gothic OTF", sans-serif;
}
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
section > h2 {
  display: none;
}
img {
  width: 100%;
  height: auto;
}
strong {
  font-weight: bold;
}
hr {
  width: 50px;
  border-top: 3px solid #2b68a4;
}
#home {
  position: relative;
}
#home .wrapper {
  padding: 20px 30px;
}
#home .home-btn {
  position: relative;
}
#home .home-btn i {
  font-size: 35px;
  color: #000;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
}
#home .home-btn:hover i {
  -webkit-transform: rotate(360deg) scale(1.2);
      -ms-transform: rotate(360deg) scale(1.2);
          transform: rotate(360deg) scale(1.2);
}
/* title */
#title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "CookieRunOTF-Black";
}
#title .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 20px;
}
#title .title {
  font-size: 90px;
  padding-right: 20px;
}
/* paullab */
@-webkit-keyframes paullab {
  100% {
    background-position: -4096px 0;
  }
}
@keyframes paullab {
  100% {
    background-position: -4096px 0;
  }
}
.title-img {
  width: 97.5px;
  height: 145px;
  background: url("../images/frame_paullab.png") no-repeat 0 0 / 4096px 145px;
  -webkit-animation: paullab 3.3s infinite steps(42);
          animation: paullab 3.3s infinite steps(42);
  position: relative;
  left: 0;
  top: 0;
}
#main_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#main_contents .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  padding: 40px 10px;
}
.section {
  text-align: center;
  font-family: "CookieRunOTF-Bold";
  font-size: 30px;
}
/* about us */
.about-paullab {
  padding-bottom: 30px;
}
.about-paullab .saying {
  padding-bottom: 50px;
  text-align: center;
}
.about-paullab .saying h4 {
  font-size: 20px;
  padding: 30px 0;
  font-family: "CookieRunOTF-Bold";
}
.about-paullab .saying p {
  line-height: 1.5;
  padding: 30px 0;
}
.about-paullab .intro {
  padding-top: 50px;
}
.about-paullab .company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.about-paullab .company .inner_1 {
  width: 120px;
  height: auto;
  padding-right: 150px;
}
.about-paullab .company img {
  padding-bottom: 30px;
}
.about-paullab .company .inner_1:after {
  content: "바울랩";
  font-size: 15px;
}
.about-paullab .company .inner_2 {
  width: 150px;
  height: auto;
  padding-right: 120px;
}
.about-paullab .company .inner_2 p {
  font-size: 70px;
  font-weight: bold;
  text-shadow: 4px 4px 0px #bdbdbd;
  padding: 45px 0;
}
.about-paullab .company .inner_2 span {
  font-size: 15px;
}
.about-paullab .company .inner_3 {
  width: 200px;
  height: auto;
}
.about-paullab .company .inner_3:after {
  content: "제주코딩베이스캠프";
  font-size: 15px;
}
.about-paullab .intro .intro_contents {
  padding: 50px 40px 0;
}
.about-paullab .intro_contents h4 {
  font-family: "CookieRunOTF-Bold";
  font-size: 25px;
  padding-bottom: 20px;
}
.about-paullab .intro_contents p {
  font-size: 17px;
  padding: 0 0 50px 35px;
  line-height: 1.5;
}
.about-paullab .intro_contents p:last-child {
  padding: 0 0 0 35px;
}
.about-paullab .intro_contents span {
  font-size: 20px;
  font-weight: bold;
}
.readmore-btn:hover {
  text-decoration: underline;
}
/* ceo */
.about-ceo {
  padding: 30px 0;
}
.about-ceo .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px 25px 0;
}
.about-ceo .intro .intro_img {
  padding-right: 200px;
}
.about-ceo .intro .intro_img img {
  width: 350px;
  height: auto;
}
.about-ceo .intro .intro_saying {
  font-family: "CookieRunOTF-Bold";
  font-size: 15px;
  text-align: center;
  padding-top: 20px;
  line-height: 1.3;
}
.about-ceo .intro .intro_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 10px;
}
.about-ceo .intro .intro_contents .name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 20px 0;
  border-bottom: 2px dashed rgb(131, 131, 131);
}
.about-ceo .intro .intro_contents .name h4 {
  font-family: "CookieRunOTF-Bold";
  font-size: 30px;
  padding-right: 20px;
}
.about-ceo .intro .intro_contents .name span {
  font-family: "CookieRunOTF-Bold";
  font-size: 20px;
  color: rgb(124, 124, 124);
}
.about-ceo .intro .intro_contents .intro_text {
  padding: 20px 0;
  line-height: 1.6;
}
.about-ceo .intro .intro_contents .intro_text span {
  font-size: 10px;
}
/* us */
#us{
  padding: 30px 0;
}
.us_imgs{
  display: grid;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* padding: 45px 25px 0; */
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-top: 45px;
}
.us_imgs li {
  /* width: 100%; */
  /* min-height: 280px; */
  max-height: 280px;
  /* width: 350px; */
  /* margin: 0 25px 20px 0; */
  cursor: pointer;
}
.us_imgs li:hover {
  filter: opacity(.5) drop-shadow(0 0 0 rgba(0, 0, 0, 0.4));
}
.us_imgs img {
  width: 100%;
  height: 100%;
}
/* us - 이미지 팝업창 */
#img_popup {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.2);
}
.img_popup-wrap {
  display: flex;
  align-items: center;
  width: 900px;
  height: 600px;
  background-color: #FFF;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.img_popup-wrap img {
  width: 100%;
  height: 100%;
}
/* contact */
#contact {
  width: 100%;
  padding: 40px;
}
#contact .contact_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0;
  font-size: 17px;
}
#contact .contact_items .contact_item {
  padding: 0 30px 30px;
}
#contact .contact_items .contact_item div {
  padding-bottom: 15px;
}
#contact .contact_items .map {
  margin: 0 auto;
}
#contact .contact_items .map iframe {
  width: 950px;
  height: 600px;
  border: 0;
}

/* footer */
#footer {
  left: 0;
  bottom: 0;
  background-color: #F2F2F2;
}

#footer .wrapper {
  margin: 0 auto;
  padding: 50px 0;
  width: 1180px;
}

#footer .footer_top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 2px solid #C4C4C4;
  font-size: 16px;
}

#footer .menu_item {
  display: inline-block;
  font-family: 'NEXON Lv2 Gothic Bold';
}

#footer .menu_item:first-child {
  margin-right: 58px;
}

#footer .menu_item li {
  display: block;
}

#footer .menu_item a {
  display: inline-block;
  margin-bottom: 20px;
}

#footer .sns_list {
 padding-top: 10px;
}

#footer .sns_list > a {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-left: 20px;
}

#footer .sns_list > a:first-child {
  margin-left: 0;
}

#footer .footer_bottom {
  display: flex;
  justify-content: space-between;
  color: #4F4F4F;
  font-size: 14px;
  line-height: 20px;
}

#footer .footer_bottom .weniv_info > div {
  display: inline-block;
}

#footer .footer_bottom dd, #footer .footer_bottom dt {
  display: inline-block;
}

#footer .footer_bottom .weniv_info > div:first-child dd {
  font-family: 'NEXON Lv2 Gothic Bold';
}

#footer .footer_bottom dd::after {
  font-family: "NEXON Lv1 Gothic OTF";
  content: "|";
  margin: 0 6px 2px 8px;
}

#footer .footer_bottom .weniv_info > div:last-child dd::after {
  content: "";
}

#footer .footer_bottom dt, #footer .footer_bottom span {
  font-family: 'NEXON Lv2 Gothic Bold';
}

#footer .weniv_corp span {
  padding-left: 3px;
}

@media all and (min-width: 320px) and (max-width: 639px) {
  #home .wrapper {
    padding: 15px 20px;
  }
  #home .home-btn i {
    font-size: 25px;
  }
  #title .wrapper {
    padding: 10px;
  }
  #title .title {
    font-size: 35px;
    padding: 0;
  }
  #title .title-img {
    display: none;
  }
  #main_contents .wrapper {
    width: 300px;
    height: auto;
    padding: 20px 10px;
  }
  .section {
    font-size: 20px;
  }
  .about-paullab {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
  }
  .about-paullab .saying {
    line-height: 1.5;
    padding-bottom: 15px;
  }
  .about-paullab .saying h4 {
    font-size: 13px;
    padding: 15px 0;
  }
  .about-paullab .saying p {
    font-size: 10px;
    padding: 15px 0;
  }
  .about-paullab .intro {
    margin-top: 0;
    padding: 35px 0 0;
  }
  .about-paullab .company .inner_1 {
    width: 60px;
    padding-right: 30px;
  }
  .about-paullab .company img {
    padding-bottom: 10px;
  }
  .about-paullab .company .inner_1:after {
    font-size: 8px;
  }
  .about-paullab .company .inner_2 {
    width: 70px;
    padding-right: 30px;
  }
  .about-paullab .company .inner_2 p {
    font-size: 25px;
    text-shadow: 2px 2px 0px #bdbdbd;
    padding: 25px 0;
  }
  .about-paullab .company .inner_2 span {
    font-size: 8px;
  }
  .about-paullab .company .inner_3 {
    width: 70px;
  }
  .about-paullab .company .inner_3 img {
    padding-bottom: 24px;
  }
  .about-paullab .company .inner_3:after {
    content: "제코베";
    font-size: 8px;
  }
  .about-paullab .intro .intro_contents {
    padding: 30px 5px 0;
  }
  .about-paullab .intro_contents h4 {
    font-size: 15px;
    padding-bottom: 10px;
  }
  .about-paullab .intro_contents p {
    font-size: 10px;
    padding: 0 0 30px 20px;
  }
  .about-paullab .intro_contents p:last-child {
    padding: 0 0 0 20px;
  }
  .about-paullab .intro_contents span {
    font-size: 13px;
  }
  .about-ceo {
    padding: 20px 0;
  }
  .about-ceo .intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0px 10px;
  }
  .about-ceo .intro .intro_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 0;
  }
  .about-ceo .intro .intro_img img {
    width: 200px;
    height: auto;
    margin: 0 auto;
  }
  .about-ceo .intro .intro_saying {
    font-size: 10px;
  }
  .about-ceo .intro .intro_contents {
    padding: 15px 5px 0;
  }
  .about-ceo .intro .intro_contents .name {
    padding: 15px 0;
  }
  .about-ceo .intro .intro_contents .name h4 {
    font-size: 20px;
    padding-right: 15px;
  }
  .about-ceo .intro .intro_contents .name span {
    font-size: 15px;
  }
  .about-ceo .intro .intro_contents .intro_text {
    font-size: 10px;
    padding: 15px 0 0;
    line-height: 1.3;
  }
  .about-ceo .intro .intro_contents .intro_text span {
    font-size: 7px;
  }
  /* us */
  #us {
    padding: 20px 0;
  }
  .us_imgs{
    grid-template-columns: 1fr 1fr;
    margin-top: 40px;
    gap: 15px;
  }
  .img_popup-wrap {
    width: 300px;
    height: 200px;
  }
  #contact {
    padding: 20px 0;
  }
  #contact .contact_items {
    font-size: 10px;
  }
  #contact .contact_items .contact_item {
    padding: 0 0 30px;
    line-height: 1.3;
  }
  #contact .contact_items .contact_item div {
    padding-bottom: 10px;
  }
  #contact .contact_items .map iframe {
    width: 300px;
    height: auto;
  }
  /* footer */
  #footer .wrapper {
    width: 320px;
    padding: 30px 0;
  }

  #footer .footer_top {
    font-size: 12px;
    padding-bottom: 5;
    margin-bottom: 20px;
  }

  #footer .menu_item a {
    margin-bottom: 15px;
  }

  #footer .menu_item:first-child {
    margin-right: 30px;
  }

  #footer .sns_list {
    padding-top: 5px;
  }

  #footer .sns_list > a {
    width: 15px;
    height: 15px;
    margin-left: 5px;
  }

  #footer .sns_list > a img {
    width: 100%;
  }

  #footer .footer_bottom {
    flex-direction: column;
    justify-content: flex-start;
    font-size: 10px;
  }

  #footer .footer_bottom dd::after {
    margin: 0 3px 1px 4px;
  }

  #footer .footer_bottom .weniv_info {
    padding-bottom: 10px;
  }
}

@media all and (min-width: 640px) and (max-width: 1180px) {
  #home .wrapper {
    padding: 20px 25px;
  }
  #title .wrapper {
    margin-left: 20px;
  }
  #title .title {
    font-size: 60px;
    margin: 0;
    padding-bottom: 15px;
  }
  #title .title-img {
    margin: 0;
    padding: 0;
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
  }
  #main_contents .wrapper {
    padding: 20px 10px;
  }
  /* about us */
  .about-paullab .saying {
    padding-bottom: 35px;
  }
  .about-paullab .intro {
    padding-top: 40px;
  }
  .about-paullab .company .inner_1 {
    width: 100px;
    padding-right: 80px;
  }
  .about-paullab .company .inner_1 img {
    padding-bottom: 26px;
  }
  .about-paullab .company .inner_2 {
    width: 110px;
    padding-right: 70px;
  }
  .about-paullab .company .inner_2 p {
    font-size: 50px;
    padding: 40px 0;
  }
  .about-paullab .company .inner_3 {
    width: 150px;
  }
  .about-paullab .intro_contents h4 {
    font-size: 20px;
  }
  .about-paullab .intro_contents p {
    font-size: 15px;
    padding: 0 0 40px 28px;
  }
  .about-paullab .intro_contents p:last-child {
    padding: 0 0 0 28px;
  }
  .about-paullab .intro_contents span {
    font-size: 17px;
    font-weight: bold;
  }
  /* ceo */
  .about-ceo .intro {
    padding: 20px 15px 0;
  }
  .about-ceo .intro .intro_img {
    padding-right: 100px;
  }
  .about-ceo .intro .intro_img img {
    width: 250px;
  }
  .about-ceo .intro .intro_saying {
    font-size: 11px;
  }
  .about-ceo .intro .intro_contents {
    padding: 20px 10px;
  }
  .about-ceo .intro .intro_contents .name h4 {
    font-size: 25px;
    padding-right: 20px;
  }
  .about-ceo .intro .intro_contents .name span {
    font-size: 20px;
  }
  .about-ceo .intro .intro_contents .intro_text {
    font-size: 15px;
    line-height: 1.4;
  }
  .about-ceo .intro .intro_contents .intro_text span {
    font-size: 9px;
  }
  /* us */
  .us_imgs{
    padding: 40px 15px 0;
  }
  .us_imgs img{
    margin: 0 20px 20px 0;
  }
  .img_popup-wrap {
    width: 600px;
    height: 400px;
  }
  /* contact */
  #contact .contact_items {
    font-size: 15px;
    line-height: 1.4;
  }
  #contact .contact_items .map iframe {
    width: 600px;
    height: 400px;
  }
  /* footer */
  #footer .wrapper {
    width: 640px;
  }

  #footer .footer_top {
    font-size: 15px;
  }

  #footer .menu_item:first-child {
    margin-right: 40px;
  }

  #footer .sns_list {
  padding-top: 10px;
  }

  #footer .sns_list > a {
    margin-left: 15px;
  }

  #footer .footer_bottom {
    font-size: 13px;
  }

  #footer .footer_bottom .weniv_info {
    max-width: 500px;
  }
}
