@font-face {
  font-family: "CookieRunOTF-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CookieRunOTF-Black";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Black00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Nanum Gothic", sans-serif;
}
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
strong {
  font-weight: bold;
}
section > h2 {
  display: none;
}
#home {
  position: relative;
}
#home .wrapper {
  padding: 20px 30px;
}
#home .home-btn {
  position: relative;
}
#home .home-btn i {
  font-size: 35px;
  color: #000;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
}
#home .home-btn:hover i {
  -webkit-transform: rotate(360deg) scale(1.2);
      -ms-transform: rotate(360deg) scale(1.2);
          transform: rotate(360deg) scale(1.2);
}
/* title */
#title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "CookieRunOTF-Black";
}
#title .title {
  font-size: 80px;
  padding-bottom: 20px;
  padding-right: 0;
}
#title .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 20px;
}
/* 빙키 -title 옆 이미지 */
@-webkit-keyframes binky {
  100% {
    background-position: -667px 0;
  }
}
@keyframes binky {
  100% {
    background-position: -667px 0;
  }
}
#title .title-img {
  width: 167px;
  height: 167px;
  background: url("../images/frame_binky.png") no-repeat 0 0 / 667px 167px;
  -webkit-animation: binky 1s infinite steps(4);
          animation: binky 1s infinite steps(4);
  position: relative;
  left: 0;
  top: 0;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}
/* 메인컨텐츠 */
#main_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#main_contents .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 900px;
  height: auto;
  padding: 30px 0;
}
#main_contents .jejucoding {
  padding-bottom: 40px;
}
#main_contents .lec_title {
  font-size: 20px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
}
#main_contents p {
  line-height: 1.6;
  padding-bottom: 30px;
}
#main_contents .roadmap {
  width: 800px;
  height: auto;
  position: relative;
  margin: 0 auto;
}
#main_contents .roadmap img {
  width: 100%;
  height: auto;
}
.roadmap .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  margin-left: 47px;
  left: 0;
  top: 360px;
}
.roadmap .inner > div {
  margin-right: 64.5px;
}
.roadmap .inner > div:last-child {
  margin: 0;
}
.roadmap .inner .lec {
  width: 90px;
  height: 58.5px;
  margin-bottom: 71px;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
}
.roadmap .inner .lec:last-child {
  margin: 0;
}
.roadmap .inner .lec:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.lec img {
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
}
.roadmap .inner .lec:hover img {
  box-shadow: 5px 5px 15px #000;
  -webkit-transform: translateX(-5px) translateY(-5px);
      -ms-transform: translateX(-5px) translateY(-5px);
          transform: translateX(-5px) translateY(-5px);
}
@-webkit-keyframes blink {
  0% {
    box-shadow: 0px 0px 30px #edff14;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    box-shadow: 0px 0px 15px #edff14;
  }
  100% {
    box-shadow: 0px 0px 5px #edff14;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes blink {
  0% {
    box-shadow: 0px 0px 30px #edff14;
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    box-shadow: 0px 0px 15px #edff14;
  }
  100% {
    box-shadow: 0px 0px 5px #edff14;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}
.jejucoding-lec img {
  -webkit-animation: blink 0.5s linear infinite;
          animation: blink 0.5s linear infinite;
  -webkit-animation-direction: alternate-reverse;
          animation-direction: alternate-reverse;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.jejucoding-lec:hover img {
  -webkit-animation: none;
          animation: none;
}
#main_contents .live-lec {
  padding: 40px 0;
}
.bottom-line {
  border-bottom: dashed 1px #dcdddd;
}
.readmore__btn:hover {
  text-decoration: underline;
}
/* footer */
#footer {
  background-color: #606060;
  color: #fff;
}
#footer .wrapper {
  margin: 0;
  padding: 40px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}
#footer .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2vw;
  font-family: "CookieRunOTF-Bold", "serif";
}
#footer .contact_item {
  padding-top: 15px;
  line-height: 1.5;
}
#footer .contact_item div {
  padding-bottom: 10px;
}
#footer .contact_item .addr {
  line-height: 1.5;
}
#footer .about {
  width: 40%;
}
#footer .about-item {
  padding-top: 15px;
  line-height: 1.5;
}
#footer .copyright {
  background-color: #3a3939;
  margin: 0;
  padding: 15px 60px;
}

@media all and (min-width: 320px) and (max-width: 639px) {
  #home .wrapper {
    padding: 15px 20px;
  }
  #home .home-btn i {
    font-size: 25px;
  }
  #title .title {
    font-size: 35px;
    padding: 0;
  }
  #title .wrapper {
    padding-bottom: 5px;
  }
  #title .title-img {
    display: none;
  }
  #main_contents .wrapper {
    width: 300px;
    height: auto;
    padding: 30px 0;
  }
  #main_contents .jejucoding {
    padding-bottom: 40px;
  }
  #main_contents .lec_title {
    font-size: 10px;
  }
  #main_contents p {
    font-size: 10px;
    line-height: 1.6;
  }
  #main_contents .roadmap {
    width: 300px;
    height: auto;
  }
  .roadmap .inner {
    margin-left: 17.5px;
    left: 0;
    top: 135px;
  }
  .roadmap .inner > div {
    margin-right: 24px;
  }
  .roadmap .inner .lec {
    width: 34px;
    height: 22px;
    margin-bottom: 26.5px;
  }
  .roadmap .inner .lec:hover img {
    box-shadow: 1px 1px 5px #000;
    -webkit-transform: translateX(-1px) translateY(-1px);
        -ms-transform: translateX(-1px) translateY(-1px);
            transform: translateX(-1px) translateY(-1px);
  }
  #footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 30px;
  }
  #footer .contact {
    width: 100%;
    padding-bottom: 15px;
  }
  #footer .title {
    font-size: 15px;
  }
  #footer .contact_item {
    font-size: 5px;
    padding-top: 5px;
  }
  #footer .contact_item div {
    padding-bottom: 5px;
  }
  #footer .about {
    width: 100%;
  }
  #footer .about-item {
    font-size: 5px;
    padding-top: 5px;
  }
  #footer .copyright {
    font-size: 5px;
    padding: 10px 15px;
  }
}

@media all and (min-width: 640px) and (max-width: 1023px) {
  #home .wrapper {
    padding: 20px 25px;
  }
  #title .wrapper {
    margin-left: 20px;
  }
  #title .title {
    font-size: 60px;
    margin: 0;
    padding-bottom: 30px;
  }
  #title .title-img {
    margin: 0;
    padding: 0;
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
  }
  #main_contents .wrapper {
    width: 620px;
    height: auto;
    padding: 30px 0;
  }
  #main_contents .jejucoding {
    padding-bottom: 40px;
  }
  #main_contents .lec_title {
    font-size: 20px;
  }
  #main_contents p {
    font-size: 15px;
  }
  #main_contents .roadmap {
    width: 620px;
    height: auto;
  }
  .roadmap .inner {
    margin-left: 36.5px;
    top: 280px;
  }
  .roadmap .inner > div {
    margin-right: 50px;
  }
  .roadmap .inner .lec {
    width: 70px;
    height: 45.5;
    margin-bottom: 41.5px;
  }
  .roadmap .inner .lec:hover img {
    box-shadow: 2px 2px 7px #000;
    -webkit-transform: translateX(-2px) translateY(-2px);
        -ms-transform: translateX(-2px) translateY(-2px);
            transform: translateX(-2px) translateY(-2px);
  }
  #footer .wrapper {
    padding: 30px 50px;
  }
  #footer .title {
    font-size: 20px;
  }
  #footer .contact_item {
    font-size: 12px;
    padding-top: 10px;
  }
  #footer .contact_item div {
    padding-bottom: 5px;
  }
  #footer .about-item {
    font-size: 12px;
    padding-top: 10px;
    line-height: 1.7;
  }
  #footer .copyright {
    padding: 10px 30px;
  }
}
