*{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	background: #333;
	width:100vw;
	height: 100vh;
	overflow: hidden;
}
a {
	text-decoration: none;
	color: #000;
	outline: none;
}
a:hover,
a:focus {
	color: #c2292e;
}

.container {
	position: relative;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	perspective: 500px;
}

.scroller {
	height: 100%;
	transform-style: preserve-3d;
}

.place {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100vw;
	height: 100vh;
	margin: -50vh 0 0 -50vw;
	opacity: 1;
	transform-style: preserve-3d;
}
.place__face {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	transform-style: preserve-3d;
}

.place__face--left,
.place__face--right {
	width: 500px; /* depth */
	height: 100vh;
	background: #444;
}

.place__face--back {
	width: 100vw;
	height: 100vh;
	background: #555;
	box-shadow: 0 0 0 2px #555;
	transform: translate3d(0, 0, -400px);
}
.openning{
	transition: transform 2s;
	cursor:auto;
	transform: translate3d(0, 0, 100px);
}

.place__face--right {
	right: 0;
	justify-content: flex-end;
	transform: rotate3d(0, 1, 0, -90deg);
	transform-origin: 100% 50%;
}

.place__face--left {
	justify-content: flex-start;
	transform: rotate3d(0, 1, 0, 90deg);
	transform-origin: 0 50%;
}
.place__face--bottom{
	bottom:0;
}

canvas {
	cursor: pointer;
  position: absolute;
	width:80%;
	height:80%;
	-webkit-box-shadow: 0px 0px 25px -2px #333333;
	/* box-shadow: 0px 0px 25px -2px #333333; */
	box-shadow: 0px 0px 30px 1px #ddd;
}

.title{
	z-index: 10;
	color:#fff;
}
.title h1{
	letter-spacing: 5px;
	font-size: 3vw;
	font-weight: bold;
	background-image: linear-gradient(
	to right,
	#462523 0,
 	#cb9b51 22%,
	#f6e27a 45%,
	#f6f2c0 50%,
	#f6e27a 55%,
	#cb9b51 78%,
	#462523 100%
	);
   color:transparent;
   -webkit-background-clip:text;
}

.list{
	text-align: center;
	width:50%;
	z-index: 10;
	color:#fff;
	transform: rotateX(50deg) translateZ(100px);
}

.place__face--back .enter__btn{
	/* border: none;
	width:200px;
	margin:0 auto;
	text-align: center;
	background-image: linear-gradient(
	to right,
	#462523 0,
	#cb9b51 22%,
	#f6e27a 45%,
	#f6f2c0 50%,
	#f6e27a 55%,
	#cb9b51 78%,
	#462523 100%
	);
	color:transparent;
	-webkit-background-clip:text; */
}

.place__img {
	flex: none;
	max-width: 35%;
	margin: 0 20%;
	transform: translate3d(0,0,10px);
	backface-visibility: hidden;
	border: 6px solid #000;
	box-shadow: 0px 0px 25px -2px #333333;
}

.seats{
	width: 90vw;
	margin: 0 5vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
	z-index:-4;
}
.seat{
	position: relative;
	width: 10vw;
	min-width:180px;
	height: 100px;
	bottom: -50px;
	border-radius: 30px;
  background: linear-gradient(to top, #761818, #761818, #761818, #761818, #761818, #B54041,  #F3686A);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5)
}
