*{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	background: #222;
	width:100vw;
	height: 100vh;
	overflow: hidden;
}
.container {
	position: relative;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	perspective: 500px;
}
.scroller {
	height: 100%;
	transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
.place {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100vw;
	height: 100vh;
	margin: -50vh 0 0 -50vw;
	transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
.place__face {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}


.place__face--back {
	width: 100vw;
	height: 100vh;
	background: #333;
	transform: translate3d(0, 0, -350px);
	perspective: 400px;
	overflow: hidden;
}
.openning{
	transition: transform 2s;
	cursor: auto;
	transform: translate3d(0, 0, 50px);
}
/* 별 쏟아지는 canvas */
#canvas {
	cursor: pointer;
  position: absolute;
	width:90%;
	height:90%;
	background: #000;
}
/* Paullab awards */
.ending_credit{
	overflow: hidden;
	cursor: pointer;
  position: absolute;
	width:90%;
	height:90%;
	-webkit-box-shadow: 0px 0px 25px -2px #333333;
	box-shadow: 0px 0px 30px 3px #333;
	transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
.title{
	top: 100%;
  position: absolute;
	width:50%;
	margin:0 25%;
	z-index: 10;
	text-align: center;
  animation: 10s credits forwards;
}
.title h1{
	letter-spacing: 5px;
	font-size: 3vw;
	font-weight: bold;
	background-image: linear-gradient(
	to right,
	#462523 0,
 	#cb9b51 22%,
	#f6e27a 45%,
	#f6f2c0 50%,
	#f6e27a 55%,
	#cb9b51 78%,
	#462523 100%
	);
   color:transparent;
   -webkit-background-clip:text;
}
.title img{
	width: 30%;
	margin: 0 auto 5% auto;
}
@keyframes credits {
  0% {
    top: 100%;
  }
	50%{
		opacity: 1;
	}
  100% {
    top: 35%;
  }
}
.thanks{
	z-index: 10;
	width: 60%;
	height: 400px;
	margin: 0 20%;
	transform: rotate3d(0,20deg,0);
	color: #fff;
	font-size: 40px;
}
.thanks li{
	text-align: left;
	width: 40%;
	margin: 30px 5%;
	float: left;
}
.thanks li:nth-child(2n-1){
	text-align: right;
}
.place__face--top{
  width: 100vw;
  height: 350px;
	transform: rotate3d(1, 0, 0, 90deg) translate3d(0, -350px, 0);
	transform-origin: 50% 0%;
}
.lights{
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}
.lights_wrapper{
	width: 100%;
	height: 30%;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	flex-wrap: nowrap;
}
.lights .light{
	width: 10%;
	height: 20%;
	/* width:40px;
	height:40px; */
	border-radius: 40px;
	background: #fff;
	-webkit-box-shadow: 0px 0px 25px -2px #fff;
	box-shadow: 0px 0px 30px 3px #fff;
}
.place__face--left,
.place__face--right {
	width: 350px;
	height: 100vh;
	background: #444;
	background-color: #000;
	background-image: linear-gradient(90deg,  transparent 50%, rgba(225,225,225,.25) 60% ,transparent 100% );
	background-repeat: repeat;
	box-shadow: 0 0 10px #555 ,inset 0 -60px  60px -30px  rgba(0,0,0, 0.5), inset 0 90px  60px -30px  rgba(0,0,0, 0.5);
	background-size: 60px;
}
.place__face--left {
	left: 0;
	justify-content: flex-start;
	transform: rotate3d(0, 1, 0, 90deg);
	transform-origin: 0 50%;
}
.place__face--right {
	right: 0;
	justify-content: flex-end;
	transform: rotate3d(0, 1, 0, -90deg);
	transform-origin: 100% 50%;
}
 .curtain__left, .curtain__right {
  content: '';
  position: absolute;
  z-index: 20;
  top: -50px;
  width: 53%;
	height: 110%;
  transition: all 4s ease-out;
  transform: rotate(0deg);
  background-color: #A90505;
  background-image: linear-gradient(90deg,  transparent 10%, rgba(0,0,0,.25) 50% ,transparent 85% );
  background-repeat: repeat;
  box-shadow: 0 0 10px #555 ,inset 0 -60px  60px -30px  rgba(0,0,0, 0.5), inset 0 90px  60px -30px  rgba(0,0,0, 0.5);
  background-size: 60px;
}
.curtain__left {
	left: -10%
}
.curtain__right {
	right: -10%
}
.curtain__left--openning{
	width: 0;
	background-size: 1px;
	transition: all 4s ease;
	transform: rotate(15deg);
}
.curtain__right--openning{
	width: 0;
	background-size: 1px;
	transition: all 4s ease;
	transform: rotate(-15deg);
}
.exit{
	position: absolute;
	flex: none;
	width: 50%;
	height: 50%;
	margin: 0 20%;
	bottom: 5px;
	transform: translate3d(0,0,10px);
	background: #000;
	box-shadow: 0px 0px 25px 10px #333333;
}
.exit_icon{
	position: absolute;
	width:30%;
	height:10%;
	top:-15%;
	left:35%;
	text-align: center;
	background: #fff;
	box-shadow: 0px 0px 25px 3px #fff;
}
.exit_icon img{
	position: relative;
	width:90%;
	height:90%;
	top:5%;
}
.table{
	position: absolute;
	flex: none;
	width: 200px;
	height: 50%;
	margin: 0 20%;
	bottom:0;
	color: #fff;
	font-size: 40px;
	transform: translate3d(0,0,10px);
}
.place__face--bottom{
	bottom:0;
}
.place__img {
	flex: none;
	max-width: 35%;
	margin: 0 20%;
	transform: translate3d(0,0,10px);
	backface-visibility: hidden;
	border: 6px solid #000;
	box-shadow: 0px 0px 25px -2px #333333;
}
.seats{
	width: 90vw;
	margin: 0 5vw;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.seat{
	position: relative;
	width: 12vw;
	min-width:250px;
	display: flex;
	justify-content: center;
	height: 150px;
	bottom: -70px;
	border-radius: 30px;
  background: linear-gradient(to top, #761818, #761818, #761818, #761818, #761818, #B54041,  #F3686A);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.seat img{
	width:150px;
	position: absolute;
	margin:0 auto;
}
.javadog_head img{
	top:-93.25px;
}
.gary_head img{
	top:-51.42px;
}
.python_head img{
	width:120px;
	top:-45.78px;
}
.licat_head img{
	width:180px;
	top:-124.92px;
}
.soulgom_head img{
	width:170px;
	top:-65.86px;
}
.binky_head img{
	width:120px;
	top:-100.05px;
}
.mura_head img{
	top:-114.75px;
}
