@font-face {
  font-family: "CookieRunOTF-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CookieRunOTF-Black";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Black00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Nanum Gothic", sans-serif;
}
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
section > h2 {
  display: none;
}
#home {
  position: relative;
}
#home .wrapper {
  padding: 20px 30px;
}
#home .home-btn {
  position: relative;
}
#home .home-btn i {
  font-size: 35px;
  color: #000;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
}
#home .home-btn:hover i {
  -webkit-transform: rotate(360deg) scale(1.2);
      -ms-transform: rotate(360deg) scale(1.2);
          transform: rotate(360deg) scale(1.2);
}
#title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "CookieRunOTF-Black";
}
#title .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  padding: 20px 0;
}
#title .title {
  font-size: 70px;
  padding-bottom: 25px;
}
/* title 옆 이미지 */
@-webkit-keyframes gary {
  100% {
    background-position: -667px 0;
  }
}
@keyframes gary {
  100% {
    background-position: -667px 0;
  }
}
#title .title-img {
  width: 167px;
  height: 167px;
  background: url("../images/frame_gary.png") no-repeat 0 0 / 667px 167px;
  -webkit-animation: gary 1s infinite steps(4);
          animation: gary 1s infinite steps(4);
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  padding-bottom: 80px;
}
/* 메인컨텐츠 */
#main-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#main-contents .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0;
}
.answer {
  width: 50vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 200px;
  padding-bottom: 40px;
}
.question {
  width: 50vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 200px;
  padding-bottom: 40px;
}
.img-wrap {
  width: 100px;
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.answer .img-wrap {
  margin-right: 50px;
}
.question .img-wrap {
  margin-left: 40px;
}
.img-wrap img {
  width: 100%;
  height: auto;
}
.speech-a {
  position: relative;
  background: #c1dadc;
  border-radius: 0.4em;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}
.speech-a,
.speech-q p {
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.3;
}
.speech-a:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: #c1dadc;
  border-left: 0;
  border-top: 0;
  margin-top: -10px;
  margin-left: -20px;
}
.speech-q {
  position: relative;
  background: #b6dda2;
  border-radius: 0.4em;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
}
.speech-q:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-left-color: #b6dda2;
  border-right: 0;
  border-top: 0;
  margin-top: -10px;
  margin-right: -20px;
}
/* footer */
#footer {
  background-color: #606060;
  color: #fff;
}
#footer .wrapper {
  margin: 0;
  padding: 40px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#footer .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}
#footer .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2vw;
  font-family: "CookieRunOTF-Bold", "serif";
}
#footer .contact_item {
  padding-top: 15px;
  line-height: 1.5;
}
#footer .contact_item div {
  padding-bottom: 10px;
}
#footer .contact_item .addr {
  line-height: 1.5;
}
#footer .about {
  width: 40%;
}
#footer .about-item {
  padding-top: 15px;
  line-height: 1.5;
}
#footer .copyright {
  background-color: #3a3939;
  margin: 0;
  padding: 15px 60px;
}

@media all and (min-width: 320px) and (max-width: 639px) {
  #home .wrapper {
    padding: 15px 20px;
  }
  #home .home-btn i {
    font-size: 25px;
  }
  #title .wrapper {
    height: 100px;
    padding: 5px 0;
  }
  #title .title {
    font-size: 35px;
  }
  #title .title-img {
    display: none;
  }
  .answer {
    width: 280px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  .question {
    width: 280px;
    padding-left: 20px;
    padding-bottom: 20px;
  }
  .img-wrap {
    width: 100px;
    height: 100px;
  }
  .answer .img-wrap {
    margin-right: 40px;
  }
  .answer .img-wrap img {
    padding-top: 30px;
  }
  .question .img-wrap {
    margin-left: 40px;
  }
  .speech-a {
    width: 300px;
    padding: 15px 0;
  }
  .speech-q {
    width: 300px;
    padding: 0;
  }
  .speech-a,
  .speech-q p {
    font-size: 12px;
    padding: 15px 20px;
    line-height: 1.3;
  }
  #footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 30px;
  }
  #footer .contact {
    width: 100%;
    padding-bottom: 15px;
  }
  #footer .title {
    font-size: 15px;
  }
  #footer .contact_item {
    font-size: 5px;
    padding-top: 5px;
  }
  #footer .contact_item div {
    padding-bottom: 5px;
  }
  #footer .about {
    width: 100%;
  }
  #footer .about-item {
    font-size: 5px;
    padding-top: 5px;
  }
  #footer .copyright {
    font-size: 5px;
    padding: 10px 15px;
  }
}
@media all and (min-width: 640px) and (max-width: 1023px) {
  #home .wrapper {
    padding: 20px 25px;
  }
  #title .title {
    font-size: 60px;
  }
  #title .title-img {
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
  }
  .answer,
  .question {
    width: 60vw;
  }
  .answer .img-wrap img {
    padding-left: 10px;
    padding-top: 30px;
  }
  .speech-a {
    padding: 15px 0;
  }
  .speech-q {
    padding: 0;
  }
  .speech-a,
  .speech-q p {
    padding: 20px 20px;
  }
  #footer .wrapper {
    padding: 30px 50px;
  }
  #footer .title {
    font-size: 20px;
  }
  #footer .contact_item {
    font-size: 12px;
    padding-top: 10px;
  }
  #footer .contact_item div {
    padding-bottom: 5px;
  }
  #footer .about-item {
    font-size: 12px;
    padding-top: 10px;
    line-height: 1.7;
  }
  #footer .copyright {
    padding: 10px 30px;
  }
}
