@font-face {
  font-family: "CookieRunOTF-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff")
  format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CookieRunOTF-Black";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Black00.woff")
  format("woff");
  font-weight: normal;
  font-style: normal;
}
body{
  font-family: "Nanum Gothic", sans-serif;
  background-color: #32A0C8;
}
#main-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  /* overflow: hidden; */
}
img {
  width: 100%;
  height: auto;
}
/*배경 하늘*/
.background__sky{
  position: absolute;
  width:100vw;
  height:100vh;
  background-color: #A2DAF7;
  z-index: 0;
}
.background__wrapper{
  overflow: hidden;
}
.background__cloud{
  position: absolute;
  width: 4000px;
  height: 100%;
  background-image: url('../images/cloud.png');
  background-position: top;
  background-repeat: repeat-x;
  background-size: 40%;
  animation: background__cloud--animation 10s linear infinite;
}

@keyframes background__cloud--animation{
  0%{
    transform: translate(0);
  }
  100%{
    transform: translate(-1600px);
  }
}


.background__cloudy{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity:0;
}
.background__cloudy--animation{
  animation: background__cloudy--animation 6s;
}
@keyframes background__cloudy--animation{
  10%{
    opacity:0.2;
  }
  30%{
    opacity:0.4;
  }
  50%{
    opacity:0.2;
  }
  70%{
    opacity:0.5;
  }
  100%{
    background-color: none;
    opacity:0;
  }
}

/*배경 waves*/
.background__wave{
	position: absolute;
	overflow: hidden;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	z-index: 15;
	/*z-index에 상관없이*/
	pointer-events: none;
}
.waves {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-repeat: repeat no-repeat;
  background-position: 0 110%;
  transform-origin: center bottom;
	background-image: url("../images/waves4.png");
	transition: top 2s;
}
.waves--up{
  animation: waves--up 2s forwards;
}
.waves--default{
	animation: waves--default 2s infinite;
}
.waves--down{
	animation: waves--down 2s forwards;
}
@keyframes waves--default {
    0%,100% { transform: translate(0,0);}
    25%     { transform: translate(10px,10px) scaleX(1.1); }
    50%     { transform: translateY(10px);}
    75%     { transform: translate(-5px,15px) scaleX(1.1); }
}
@keyframes waves--up{
	0%			{ transform: translate(0,0); }
	100%    { transform: translateY(-98%); }
}
@keyframes waves--down{
		0%			{ transform: translateY(-98%); }
		100%    { transform: translate(0,0); }
}
::-webkit-scrollbar {
  display: none;
}
.scale{
  /* transform: scale(1.3); */
}
.ship {
  position: absolute;
  width: 500px;
  height: 500px;
  bottom: 30vh;
  animation: ship--waves 2s infinite;
}
.ship img {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 5;
}
@keyframes ship--waves {
    0%,100% { transform: translate(0,0);}
    25%     { transform: translate(-10px,10px) scale(1.02); }
    50%     { transform: translateY(10px);}
    75%     { transform: translate(-5px,15px) scale(1.02); }
}
.javadog{
  position: absolute;
  z-index: 4;
  width:130px;
  right:100px;
  bottom:140px;
}
.javadog img{
  position: relative;
  width: 100%;
}
.javadog_right_hand {
  position: absolute;
  z-index: 5;
  width: 60px;
  right: 105px;
  bottom: 190px;
  transition: rotate 2s;
}
.javadog_left_hand {
  position: absolute;
  z-index: 3;
  width: 50px;
  right: 80px;
  bottom: 195px;
  transition: rotate 2s;
}
.fishing_rod {
  position: absolute;
  z-index: 2;
  width: 300px;
  right: -190px;
  bottom: 190px;
}
.fishing_line{
  position: absolute;
  width: 1px;
  height: 500px;
  border: 1px solid #fff;
  top: 187px;
  right: -190px;
  background: #fff;
  transform: rotateZ(-15deg);
  transform-origin: top;
}
.javadog--animation{
  animation: 6s javadog--animation forwards;
  transform-origin: bottom;
}
.javadog_left_hand--animation {
  animation: 6s javadog_left_hand--animation forwards;
  transform-origin: left;
}
.javadog_right_hand--animation {
  animation: 6s javadog_right_hand--animation forwards;
  transform-origin: left center;
}
.fishing_rod--animation {
  animation: 6s fishing_rod--animation forwards;
  transform-origin: left center;
}
.fishing_line--animation {
  animation: 6s fishing_line--animation forwards;
}

@keyframes javadog--animation {
  10%{
    transform: rotateZ(-10deg);
  }
  30%{
    transform: rotateZ(-20deg);
  }
  50%{
    transform: rotateZ(-10deg);
  }
  70%{
    transform: rotateZ(-20deg);
  }
  100%{
    transform: rotateZ(0deg);
  }
}
@keyframes javadog_left_hand--animation {
  10%{
    transform: rotateZ(-30deg) translate(-10px, -20px);
  }
  30%{
    transform: rotateZ(-60deg) translate(-5px, -30px);
  }
  50%{
      transform: rotateZ(-30deg) translate(-10px, -20px);
  }
  70%{
    transform: rotateZ(-60deg) translate(-5px, -30px);
  }
  100%{
    transform: rotateZ(0deg);
  }
}
@keyframes javadog_right_hand--animation {
  10%{
    transform: rotateZ(-30deg) translate(-7px, -13px);
  }
  30%{
    transform: rotateZ(-60deg) translate(-5px, -15px) ;
  }
  50%{
    transform: rotateZ(-30deg) translate(-7px, -13px);
  }
  70%{
    transform: rotateZ(-60deg) translate(-5px, -15px) ;
  }
  100%{
    transform: rotateZ(0deg);
  }
}
@keyframes fishing_rod--animation {
  10%{
    transform: rotateZ(-20deg) translate(-50px, -10px);
  }
  30%{
    transform: rotateZ(-30deg) translate(-70px, -30px);
  }
  50%{
    transform: rotateZ(-20deg) translate(-50px, -10px);
  }
  70%{
    transform: rotateZ(-30deg) translate(-70px, -30px);
  }
  100%{
    transform: rotateZ(0deg) translate(0, 0);
  }
}
@keyframes fishing_line--animation {
  10%{
    transform: rotateZ(-20deg) translate(-47px, -115px);
  }
  30%{
    transform: rotateZ(-30deg) translate(-53px, -185px);
  }
  50%{
    transform: rotateZ(-20deg) translate(-47px, -115px);
  }
  70%{
    transform: rotateZ(-30deg) translate(-53px, -185px);
  }
  100%{
    transform: rotateZ(-15deg) translate(0, 0);
  }
}



/* notion */
.notion__container{
  position: absolute;
  width: 100vw;
  padding: 120px 20%;
  top: 55vh;
  z-index: 10;
  box-sizing: border-box;
  background-repeat: repeat no-repeat;
  transform-origin: bottom center;
	background-image: url("../images/waves6.png");
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  animation: move--ship 2s infinite;
}
@keyframes move--ship{
	0%,100% { transform: translate(0,0);}
	25%     { transform: translate(5px,5px) scale(1.01); }
	50%     { transform:  translateY(5px); }
	75%     { transform: translate(-5px,5px) scale(1.01); }
}
.notion {
  display: inherit;
  position: relative;
  width:5vw;
  max-height:217px;
  min-width: 150px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotatey(0deg) translatex(0px) translatey(0px);
  transform: rotatey(0deg) translatex(0px) translatey(0px);
  -webkit-transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.4);
  margin: 30px;
  cursor: pointer;
}
.notion img{
  width:100%;
  height:auto;
}
.notion__info {
  position: relative;
  width: 100%;
  overflow:hidden;
}
.focus__notion{
	overflow: hidden;
	position:fixed;
	width:100%;
	height:100%;
	background-image: url("../images/waves5.png");
  background-repeat: repeat no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index:20;
  top: 110%;
	transition: top 2s;
}
.focust__notion--up{
  top:0px;
  /* padding-top:110px; */
}
.notion__detail{
  width: 250px;
	height:360px;
  box-shadow: 5px 5px 15px #333;
  perspective: 600px;
	cursor:pointer;
	transform-style: preserve-3d;
	transition: all 1.5s;
}
.notion__front{
	position: absolute;
	width:100%;
	height:100%;
  transition: 2s;
	z-index:12;
  transform-origin: left center;
	/* backface-visibility: hidden; */
}
.notion__front img{
	width:100%;
	height:auto;
	transition-delay: .565s;
}
.spread{
  box-shadow: 5px 5px 15px #333;
  transform: rotateY(-180deg);
  background: #666;
}
.spread__img{
	transform: rotateY(-180deg);
}
.notion--spread{
  transform: translateX(125px);
  transition: all 2s;
}
.notion__back{
	position: absolute;
	width:100%;
	height:100%;
  z-index:11;
  padding:50px 30px;
  box-sizing: border-box;
	background: #fff;
  font-family: "CookieRunOTF-Bold";
}
.notion__back h1{
  font-size:1.3rem;
  line-height:31px;
  font-family: "CookieRunOTF-Black";
}
.notion__back h2{
  margin-top:30px;
  font-size: 1.0rem;
  font-weight: 100;
  line-height: 20px;
}

.buttons{
  position: absolute;
  width: 190px;
  height:50px;
  bottom:60px;
  border-radius: 40px;
  background: #fff;
}
.buttons span {
  height:50px;
  width: 190px;
  border-radius: 20px;
  line-height: 50px;
  display: inline-block;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  opacity: 1;
  /* box-shadow: 5px 5px 15px #333; */
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}
.buttons a {
  line-height: 40px;
  width: 40px;
  text-align: center;
  border: none;
  display: inline-block;
  background-color: #fff;
  color: #ffffff;
  overflow: hidden;
  opacity: 0;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  /* box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.3); */
}
.buttons a:nth-child(1) {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin-left: 0;
	background-image: url("../images/notionicon.png");
}
.buttons a:nth-child(1):hover {
  background-color: #61c5ec;
}
.buttons a:nth-child(2):hover {
  background-color: #333;
}
.buttons a:nth-child(3):hover {
  background-color: #444;
}
.buttons a:nth-child(4):hover {
  background-color: #555;
}
.buttons:hover span, .buttons.hover span {
  opacity: 0;
}
.buttons:hover a, .buttons.hover a {
  opacity: 1;
  border-radius: 50%;
  margin: 0 7px;
  color: #f1ce64;
  font-size: 28px;
}
.buttons:hover a:hover, .buttons.hover a:hover {
  color: #fff;
}
/* 메시지 */
#message,#message2 {
  display: none;
}
.message__img {
  width: 200px;
  height: auto;
  margin: 0 auto;
}
#message,#message2 p {
  font-size: 15px;
  font-family: "CookieRunOTF-Bold";
}

/* 반응형 */
/* 세로모드 */
/* @media only screen and (orientation: portrait) {
  #main-container {
    display: none;
  }
  #message {
    display: block;
    text-align: center;
    position: relative;
    margin: 0;
    padding: 0;
    top: 30vh;
  }
  #message2{
    display: none;
  }
}
@media all and (orientation : landscape) and (max-aspect-ratio:65/50){
  #main-container {
    height: 100vw;
    display: none;
  }
  #message2 {
    display: block;
    text-align: center;
    position: relative;
    margin: 0;
    padding: 0;
    top: 30vh;
  }
} */

@media all and (min-width: 1600px) {
  .ship{
  }
}
