@font-face {
  font-family: "CookieRunOTF-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CookieRunOTF-Black";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Black00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Nanum Gothic", sans-serif;
  background-color: #7ccad5;
}
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}

h4 {
  font-family: "CookieRunOTF-Bold", "serif";
  color: #fff;
}

#main-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
}
#background-img {
  position: absolute;
  background: url("../images/back-no-sns.png") no-repeat center center;
  width: 100vw;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#jeju-img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: url("../images/no-mountain3.png") no-repeat center center;
  background-size: contain;
  background-size: contain;
  background-size: contain;
  background-size: contain;
}
.home {
  position: absolute;
  height: auto;
  top: 0;
  left: 0;
  padding: 30px 40px;
  font-family: "CookieRunOTF-Black";
}
.home__btn {
  position: relative;
}
.home__btn p {
  font-size: 40px;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: #000;
}
.home__btn:hover p {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.news {
  width: 245px;
  height: 125px;
  position: absolute;
  left: 74vw;
  top: 0;
  -webkit-animation: move 2s;
  animation: move 2s;
  -moz-transition: ease;
  -ms-transition: ease;
  -o-transition: ease;
  transition: ease;
}
.news:hover .news__bird {
  -webkit-animation-play-state: paused;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  animation-play-state: paused;
  transition: transform 0.5s;
  transform: scale(1.1);
  cursor: pointer;
}
@-webkit-keyframes move {
  0% {
    opacity: 0;
    left: 100vw;
    top: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes move {
  0% {
    opacity: 0;
    left: 100vw;
    top: 0;
  }
  100% {
    opacity: 1;
  }
}
.news__bird {
  width: 245px;
  height: 125px;
  background: url("../images/bird_frame2.png") no-repeat 0 0 / 1342.5px 125px;
  -webkit-animation: bird 1s infinite steps(6);
  animation: bird 1s infinite steps(6);
  position: relative;
  cursor: pointer;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
@-webkit-keyframes bird {
  100% {
    background-position: -1342.5px 0;
  }
}
@keyframes bird {
  100% {
    background-position: -1342.5px 0;
  }
}
.menu h4 {
  width:100px;
  position: absolute;
}
.menu div:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  -moz-transition: transform 0.5s;
  -ms-transition: transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  cursor: pointer;
}
.menu:hover h4 {
  color: #dd3b3e;
  text-shadow: 0 0 5px #fff;
}
.menu__hallasan {
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  position: absolute;
  left: 40vw;
  top: 33vh;
}
.menu__hallasan__img {
  -webkit-animation: hallasan 0.5s infinite;
  -webkit-animation-direction: alternate;
  animation: hallasan 0.5s infinite;
  animation-direction: alternate;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
@-webkit-keyframes hallasan {
  0% {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
  }
}
@keyframes hallasan {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(0.6);
  }
}
/* 바울랩 - about */
.menu__paullab {
  position: absolute;
  left: 51vw;
  top: 16vh;
  width: 97.5px;
  height: auto;
}
@-webkit-keyframes paullab {
  100% {
    background-position: -4096px 0;
  }
}
@keyframes paullab {
  100% {
    background-position: -4096px 0;
  }
}
.menu__paullab--frame {
  width: 97.5px;
  height: 145px;
  background: url("../images/paullab-frame.png") no-repeat 0 0 / 4096px 145px;
  -webkit-animation: paullab 3.3s infinite steps(42);
  animation: paullab 3.3s infinite steps(42);
  position: absolute;
  -webkit-ransform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.menu__paullab h4 {
  left: 30px;
  top: 145px;
}
.menu__paullab div:hover{
  -webkit-animation-play-state: running;
  animation-play-state: running;
}
/* 파이와 썬 - 유튜브 */
.menu__youtube {
  position: absolute;
  left: 32vw;
  top: 27vh;
  width: 125px;
  height: 125px;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.menu__youtube h4 {
  left: 50px;
  top: 110px;
}
.menu__youtube--python {
  width: 125px;
  height: 125px;
  background: url("../images/python_frame.png") no-repeat 0 0 / 500px 125px;
  -webkit-animation: py_thon 1s infinite steps(4);
  animation: py_thon 1s infinite steps(4);
  position: absolute;
  -webkit-ransform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
@-webkit-keyframes py_thon {
  100% {
    background-position: -500px 0;
  }
}
@keyframes py_thon {
  100% {
    background-position: -500px 0;
  }
}
/* 뮤라 - 출판정보 */
.menu__book {
  position: absolute;
  left: 24vw;
  top: 34vh;
  width: 167px;
  height: 167px;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.menu__book h4 {
  left:57px;
  top: 150px;
}
.menu__book--mura {
  width: 167px;
  height: 167px;
  background: url("../images/mura_frame.png") no-repeat 0 0 / 667px 167px;
  -webkit-animation: mura 0.5s infinite steps(4);
  animation: mura 0.5s infinite steps(4);
  position: relative;
  -webkit-ransform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
@-webkit-keyframes mura {
  100% {
    background-position: -667px 0;
  }
}
@keyframes mura {
  100% {
    background-position: -667px 0;
  }
}
/* 개리 - Q&A */
.menu__qna {
  position: absolute;
  left: 25vw;
  top: 53vh;
  width: 167px;
  height: 167px;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.menu__qna h4 {
  left: 120px;
  top: 120px;
}
.menu__qna--gary {
  width: 167px;
  height: 167px;
  background: url("../images/gary_frame.png") no-repeat 0 0 / 667px 167px;
  animation: gary 1s infinite steps(4);
  transform: scale(0.8);
  position: relative;
  transition: all 0.4s;
}
@keyframes gary {
  100% {
    background-position: -667px 0;
  }
}
/* 소울곰 - 인프런 */
.menu__online_lec {
  width: 167px;
  height: 167px;
  position: absolute;
  left: 40vw;
  bottom: 25vh;
}
.menu__online_lec h4 {
  left: 50px;
  top: 150px;
}
.menu__online_lec--soulgom {
  width: 167px;
  height: 167px;
  background: url("../images/soulgom_frame.png") no-repeat 0 0/ 667px 167px;
  -webkit-animation: soulgom 1s infinite steps(4);
  animation: soulgom 1s infinite steps(4);
  position: relative;
  -webkit-ransform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
@-webkit-keyframes soulgom {
  100% {
    background-position: -667px 0;
  }
}
@keyframes soulgom {
  100% {
    background-position: -667px 0;
  }
}
/* 라이캣 - 팀원소개 */
.menu__intro {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 55vw;
  bottom: 35vh;
}
.menu__intro h4 {
  left: -30px;
  top: 170px;
}
.menu__intro:hover .menu__intro img {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.menu__intro div:hover {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.menu__intro--licat {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  position: relative;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.menu__intro--licat .hand {
  position: relative;
  -webkit-animation: licat 1s infinite linear;
  animation: licat 1s infinite linear;
  width: 70px;
  height: 70px;
  left: 58px;
  top: -121px;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
@-webkit-keyframes licat {
  0% {
    -webkit-transform: rotate(-11deg);
    -ms-transform: rotate(-11deg);
  }
  50% {
    -webkit-transform: rotate(23deg);
    -ms-transform: rotate(23deg);
  }
  100% {
    -webkit-transform: rotate(-11deg);
    -ms-transform: rotate(-11deg);
  }
}
@keyframes licat {
  0% {
    transform: rotate(-11deg);
  }
  50% {
    transform: rotate(23deg);
  }
  100% {
    transform: rotate(-11deg);
  }
}
/* 자바독 - 바울랩 wiki */
.menu__wiki {
  width: 167px;
  height: 167px;
  position: absolute;
  left: 64vw;
  top: 36vh;
}

.menu__wiki h4 {
  left: 50px;
  top: 150px;
}

.menu__wiki--javadog {
  width: 167px;
  height: 167px;
  background: url("../images/javadog_frame.png") no-repeat 0 0 / 667px 167px;
  -webkit-animation: javadog 0.5s infinite steps(4);
  animation: javadog 0.5s infinite steps(4);
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  position: relative;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
@keyframes javadog {
  100% {
    background-position: -667px 0;
  }
}
/* 빙키 - 커리큘럼 */
.menu__curriculum {
  width: 167px;
  height: 167px;
  position: absolute;
  left: 60vw;
  top: 19vh;
}
.menu__curriculum h4 {
  left: 130px;
  top: 100px;
}
.menu__curriculum--binky {
  width: 167px;
  height: 167px;
  background: url("../images/binky_frame.png") no-repeat 0 0 / 667px 167px;
  -webkit-animation: binky 1s infinite steps(4);
  animation: binky 1s infinite steps(4);
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  position: relative;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
@-webkit-keyframes binky {
  100% {
    background-position: -667px 0;
  }
}
@keyframes binky {
  100% {
    background-position: -667px 0;
  }
}
.windmill {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 57vw;
  top: 17vh;
}
.windmill_base {
  height: 90px;
}
@-webkit-keyframes windmill {
  50% {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
  }
}
@keyframes windmill {
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* etc
- 풍차, 파라솔, 한라봉, 돌하르방
*/
.windmill--wind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.windmill--wind img {
  width: 100px;
  height: 100px;
  -webkit-animation: windmill 2s infinite linear;
  animation: windmill 2s infinite linear;
  position: relative;
}
.windmill--wind .wind1 {
  left: -25px;
  top: -100px;
}
.windmill--wind .wind2 {
  left: -80px;
  top: -92px;
}
.parasol {
  width: 50px;
  height: auto;
  position: absolute;
  left: 23vw;
  top: 55vh;
}
.hallabong {
  width: 45px;
  height: auto;
  position: absolute;
  left: 38vw;
  top: 45vh;
}
.dolharbang {
  width: 40px;
  height: auto;
  position: absolute;
  left: 20.5vw;
  bottom: 13vh;
}

/* 좌우반전 */
.etc:hover img {
  transform: rotate(0deg);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
.sns {
  width: 665px;
  height: 102px;
  position: absolute;
  background: url("../images/sns-set.png") no-repeat;
  background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  right: 7vw;
  bottom: 6.2vh;
  transform: scale(0.7);
}
.sns__wrap {
  padding-top: 10px;
  width: 452px;
  float: right;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.sns .sns__wrap div {
  width: 50px;
  height: auto;
}
/* 모달 */
#modal {
  position: fixed;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
#modal.on {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
}
.modal__wrap {
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  border-radius: 1%;
  margin-top: 50px;
  max-height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
}
.modal__wrap {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.modal__wrap::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.modal__window {
  width: 40vw;
}
.modal__header {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-box-align: center;
  -ms-flex-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  border-bottom: solid 1px #dbdbdb;
}
.modal__title {
  font-size: 2vw;
  font-family: "CookieRunOTF-Bold", "serif";
}
.modal__header .close__btn {
  cursor: pointer;
}
.modal__header .close__btn i {
  color: #dbdbdb;
  font-size: 2vw;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.modal__header .close__btn:hover i {
  -ms-transform: rotate(360deg); /* IE 9 */
  -webkit-transform: rotate(360deg); /* Safari 3-8 */
  transform: rotate(360deg);
}
.modal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
}
.modal__content .post {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #dcdddd;
  margin-bottom: 20px;
}
.modal__content .post__img {
  margin: 0 auto;
}
.modal__content .post__img a{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.modal__content .post__img img{
  width:50%;
  min-width:200px;
  margin:auto;
}
.post__item {
  padding-bottom: 35px;
}
.post__title {
  font-size: 1.5vw;
  padding: 10px 0;
  color: #55a79a;
  font-weight: bold;
}
.post__title:hover > a {
  text-decoration: underline;
}
.post__explanation {
  font-size: 1.2vw;
  line-height: 1.7;
  padding-bottom: 15px;
}
.readmore__btn {
  font-size: 1.2vw;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.readmore__btn:hover {
  text-decoration: underline;
}
/* 메시지 */
#message {
  display: none;
}
.message__img {
  width: 200px;
  height: auto;
  margin: 0 auto;
}
#message p {
  font-size: 15px;
  font-family: "CookieRunOTF-Bold";
}

/* 반응형 */
/* 세로모드 */
@media only screen and (orientation: portrait) {
  #main-container {
    height: 100vw;
    display: none;
  }
  #message {
    display: block;
    text-align: center;
    position: relative;
    margin: 0;
    padding: 0;
    top: 30vh;
  }
}
@media all and (min-width: 480px) and (max-width: 864px) {
  #message .massage__img {
    width: 300px;
  }
  #message p {
    font-size: 30px;
  }
  h4 {
    font-size: 5px;
  }
  .scale {
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -o-transform: scale(0.4);
    -ms-transform: scale(0.4);
    transform: scale(0.4);
  }
  .etc {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }
  .menu__youtube,
  .menu__qna,
  .menu__wiki,
  .menu__curriculum {
    width: 105px;
    height: auto;
  }
  .news__bird {
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -o-transform: scale(0.4);
    -ms-transform: scale(0.4);
    transform: scale(0.4);
  }
  @-webkit-keyframes hallasan {
    0% {
      -webkit-transform: scale(0.2);
      -moz-transform: scale(0.2);
      -o-transform: scale(0.2);
      -ms-transform: scale(0.2);
    }
    100% {
      -webkit-transform: scale(0.3);
      -moz-transform: scale(0.3);
      -o-transform: scale(0.3);
      -ms-transform: scale(0.3);
    }
  }
  @keyframes hallasan {
    0% {
      transform: scale(0.2);
    }
    100% {
      transform: scale(0.3);
    }
  }
  .home {
    padding: 15px 25px;
  }
  .home__btn p {
    font-size: 23px;
  }
  .menu__hallasan {
    left: 30vw;
    top: 20vh;
  }
  .menu__paullab {
    left: 46vw;
    top: 5vh;
  }
  .menu__paullab h4 {
    left: 50px;
    top: 112px;
  }
  .menu__youtube {
    left: 26vw;
    top: 20vh;
  }
  .menu__youtube h4 {
    top: 95px;
  }
  .menu__book {
    left: 14vw;
    top: 23vh;
  }
  .menu__book h4 {
    left: 97px;
    top: 110px;
  }
  .menu__qna {
    left: 14vw;
    top: 40vh;
  }
  .menu__qna h4 {
    left: 110px;
    top: 100px;
  }
  .menu__online_lec {
    left: 37vw;
    bottom: 15vh;
  }
  .menu__online_lec h4 {
    left: 20px;
    top: 105px;
  }
  .menu__intro {
    left: 53vw;
    bottom: 38vh;
  }
  .menu__intro h4 {
    left: 20px;
    top: 160px;
  }
  .menu__wiki {
    left: 64vw;
    top: 18vh;
  }
  .menu__wiki h4 {
    left: 50px;
    top: 120px;
  }
  .menu__curriculum {
    left: 57vw;
    top: 8vh;
  }
  .menu__curriculum h4 {
    left: 40px;
    top: 115px;
  }
  .windmill {
    left: 53vw;
    top: 12vh;
  }
  .parasol {
    left: 15vw;
  }
  .dolharbang {
    left: 95px;
    bottom: 25px;
  }
  .news {
    left: 65vw;
    top: -20px;
  }
  .news:hover div {
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
  }
  .modal__header {
    padding: 10px 20px;
  }
  .sns {
    transform: scale(0.4);
    right: -20vw;
    bottom: 0px;
  }
}
@media all and (min-width: 1024px) and (max-width: 1365px) {
  h4 {
    font-size: 15px;
  }
  .home__btn p {
    font-size: 35px;
  }
  .menu__hallasan {
    left: 38vw;
    top: 36vh;
  }
  @-webkit-keyframes hallasan {
    0% {
      -webkit-transform: scale(0.5);
      -moz-transform: scale(0.5);
      -o-transform: scale(0.5);
      -ms-transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(0.6);
      -moz-transform: scale(0.6);
      -o-transform: scale(0.6);
      -ms-transform: scale(0.6);
    }
  }
  @keyframes hallasan {
    0% {
      transform: scale(0.5);
    }
    100% {
      transform: scale(0.6);
    }
  }
  .scale {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
  .menu div:hover {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  .etc {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
  .menu__paullab {
    /* top: 25vh; */
  }
  .menu__paullab h4 {
    left: 50px;
  }
  .menu__youtube {
    left: 29vw;
    top: 28vh;
  }
  .menu__book{
    top:35vh;
    left:20vw;
  }
  .menu__book h4 {
    left: 40px;
  }
  .menu__online_lec {
    bottom:27vh;
    left: 37vw;
  }
  .menu__online_lec h4 {
    left: -20px;
  }
  .menu__qna {
    left: 18vw;
    top: 52vh;
  }
  .menu__wiki{
    /* top:38vh; */
    left:66vw;
  }
  .menu__curriculum{
    /* top:23vh; */
  }
  .parasol{
    left:17vw;
  }
  .windmill{
    top:23vh;
  }
  .dolharbang {
    left: 16vw;
    top: 79vh;
  }
  .sns {
    right: 9vw;
  }
  .massage__img {
    width: 400px;
  }
  #message p {
    font-size: 35px;
  }
}
@media all and (min-width: 1366px) and (max-width: 1599px) {
  h4 {
    font-size: 18px;
  }
  .home__btn p {
    font-size: 45px;
  }
  .menu__hallasan {
    left: 39vw;
    top: 37vh;
  }
  @-webkit-keyframes hallasan {
    0% {
      -webkit-transform: scale(0.6);
      -moz-transform: scale(0.6);
      -o-transform: scale(0.6);
      -ms-transform: scale(0.6);
    }
    100% {
      -webkit-transform: scale(0.7);
      -moz-transform: scale(0.7);
      -o-transform: scale(0.7);
      -ms-transform: scale(0.7);
    }
  }
  @keyframes hallasan {
    0% {
      transform: scale(0.6);
    }
    100% {
      transform: scale(0.7);
    }
  }
  .scale {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
  .menu div:hover {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
  .menu__paullab {
    top: 17vh;
  }
  .menu__paullab h4 {
    top: 170px;
  }
  .menu__youtube {
    left: 30vw;
    top: 27vh;
  }
  .menu__book {
    left: 20vw;
    top: 34vh;
  }
  .menu__book h4 {
    left: 70px;
  }
  .menu__qna {
    top: 55vh;
    left:22vw;
  }
  .menu__wiki {
    top: 38vh;
    left:63vw;
  }
  .menu__curriculum {
    top: 18vh;
  }
  .windmill {
    top: 16vh;
  }
  .parasol{
    left:20vw;
  }
  .hallabong{
    left:36vw;
  }
  .sns {
    right: 8.8vw;
    bottom: 6.5vh;
  }
}
@media all and (min-width: 1600px) and (max-width: 2048px) {
  .menu h4 {
    font-size: 20px;
    margin-top:20px;
  }
  @-webkit-keyframes hallasan {
    0% {
      -webkit-transform: scale(0.7);
      -moz-transform: scale(0.7);
      -o-transform: scale(0.7);
      -ms-transform: scale(0.7);
    }
    100% {
      -webkit-transform: scale(0.8);
      -moz-transform: scale(0.8);
      -o-transform: scale(0.8);
      -ms-transform: scale(0.8);
    }
  }
  @keyframes hallasan {
    0% {
      transform: scale(0.7);
    }
    100% {
      transform: scale(0.8);
    }
  }
  .scale {
    -webkit-transform: scale(1.0);
    -moz-transform: scale(1.0);
    -o-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
  }
  .menu div:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  .news:hover div {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  .sns {
    transform: scale(0.8);
    right: 9.3vw;
    bottom: 6.2vh;
  }
}
