@font-face {
  font-family: "CookieRunOTF-Black";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Black00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CookieRunOTF-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CookieRun-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/CookieRun-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Nanum Gothic", sans-serif;
  background-color: #7ccad5;
}
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
#main-contents {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
section > h2 {
  display: none;
}
/* weniv 배경화면 */
#main-contents .bg {
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../images/weniv-bg.png") no-repeat 0 0 / 100vw 100vh;
}
#home {
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px 30px;
  z-index: 999;
}
#home .home-btn i {
  font-size: 35px;
  color: #fff;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
}
#home .home-btn:hover i {
  -webkit-transform: rotate(360deg) scale(1.2);
      -ms-transform: rotate(360deg) scale(1.2);
          transform: rotate(360deg) scale(1.2);
}
.cloud-sun {
  position: absolute;
  right: 0;
  top: 0;
  width: 300px;
  height: auto;
  padding: 40px 50px;
}
/* BGM BBUTTONS */
.bgm__button--play {
 /* display: none; */
 position: absolute;
 cursor: pointer;
 width: 50px;
 height: 50px;
 right: 0;
 top: 0;
 z-index: 999;
 margin: 25px;
 background-image: url('../images/button_bgm_play.png');
 background-size: contain;
 background-repeat: no-repeat;
 font-family: "CookieRunOTF-Black";
}
.bgm__button--pause {
  display: none;
  position: absolute;
  cursor: pointer;
  width: 50px;
  height: 50px;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 25px;
  background-image: url('../images/button_bgm_pause.png');
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "CookieRunOTF-Black";
}
.bgm__button--active {
  display: block;
}
.bgm__button--disactive {
  display: none;
}
/* 메인 텍스트 */
.text {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  -webkit-transition: all 0.4s;
          transition: all 0.4s;
  -webkit-animation: fadeIn 1s ease;
          animation: fadeIn 1s ease;
}
.text .inner {
  width: 100vw;
  height: auto;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 120px;
}
.text h2 {
  font-family: "CookieRunOTF-Black";
  font-size: 40px;
  padding-bottom: 30px;
  margin: 0 auto;
}
.text p {
  font-family: "CookieRun-Regular";
  color: #fff;
  text-shadow: 0 0 5px #000;
  font-size: 30px;
  padding-bottom: 20px;
  margin: 0 auto;
}
/* 캐릭터 배치 */
#wenivs {
  width: 100vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  left: 0;
  bottom: 350px;
}
#wenivs .wrapper {
  width: 100vw;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
#wenivs .wrapper li {
  -webkit-transition: all 0.4s ease;
          transition: all 0.4s ease;
}
#wenivs img {
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
          transition: all 0.4s ease;
}
#wenivs li:hover > img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: drop-shadow(0 0 5px #fff);
          filter: drop-shadow(0 0 5px #fff);
}
#wenivs .licat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  top: 0;
  width: 200px;
  height: auto;
}
#wenivs .gary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  top: 0;
  width: 150px;
  height: auto;
}
#wenivs .javadog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  top: 0;
  width: 200px;
  height: auto;
}
#wenivs .soulgom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  top: 0;
  width: 200px;
  height: auto;
}
#wenivs .sun,
.pie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  top: 0;
  width: 70px;
  height: auto;
}
#wenivs .binky {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  top: 0;
  width: 130px;
  height: auto;
  padding-bottom: 20px;
}
#wenivs .mura {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  top: 0;
  width: 160px;
  height: auto;
}
/* 캐릭터 소개 */
#intro {
  position: absolute;
  left: 200px;
  top: 100px;
  width: 50vw;
  height: auto;
}
#intro div {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: fadeIn 0.8s ease;
          animation: fadeIn 0.8s ease;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#intro h2 {
  font-family: "CookieRunOTF-Black";
  font-size: 35px;
  padding-bottom: 25px;
}
#intro span {
  font-family: "CookieRun-Regular";
  color: #fff;
  font-size: 25px;
  padding-bottom: 25px;
}
#intro p {
  font-family: "CookieRun-Regular";
  font-size: 17px;
  line-height: 1.4;
}
/* 메시지 */
#message {
  display: none;
}
#message .msg-img {
  width: 200px;
  height: auto;
  margin: 0 auto;
}
#message p {
  font-size: 15px;
  font-family: "CookieRunOTF-Bold";
}
@media only screen and (orientation: portrait) {
  #main-contents {
    height: 100vw;
    width: auto;
    display: none;
  }
  #message {
    display: block;
    text-align: center;
    position: relative;
    margin: 0;
    padding: 0;
    top: 30vh;
  }
}
@media all and (min-width: 480px) and (max-width: 568px) {
  #home {
    padding: 15px 20px;
  }
  #home .home-btn i {
    font-size: 27px;
  }
  .bgm__button--play {
	 width: 18px;
 	 width: 18px;
	}
	.bgm__button--pause {
	 width: 18px;
 	 width: 18px;
	}
  .cloud-sun {
    width: 120px;
    height: auto;
    padding: 20px 20px;
  }
  .text {
    top: 50px;
  }
  .text .inner {
    padding-top: 0;
  }
  .text h2 {
    font-size: 20px;
    padding-bottom: 20px;
  }
  .text p {
    font-size: 15px;
  }
  #wenivs {
    bottom: 45vh;
  }
  #wenivs .licat {
    width: 90px;
  }
  #wenivs .gary {
    width: 60px;
  }
  #wenivs .javadog {
    width: 90px;
  }
  #wenivs .soulgom {
    width: 90px;
  }
  #wenivs .sun,
  .pie {
    width: 40px;
  }
  #wenivs .binky {
    width: 60px;
    padding-bottom: 10px;
  }
  #wenivs .mura {
    width: 80px;
  }
  #intro {
    left: 20vw;
    top: 10vh;
  }
  #intro h2 {
    font-size: 15px;
    padding-bottom: 5px;
  }
  #intro span {
    font-size: 10px;
    padding-bottom: 5px;
  }
  #intro p {
    font-size: 5px;
    line-height: 1.3;
  }
}

@media all and (min-width: 569px) and (max-width: 864px) {
  #home {
    padding: 15px 20px;
  }
  #home .home-btn i {
    font-size: 27px;
  }
  .bgm__button--play {
	 width: 20px;
	 height: 20px;
	}
	.bgm__button--pause {
		width: 20px;
		height: 20px;
	}
  .cloud-sun {
    width: 120px;
    height: auto;
    padding: 20px 20px;
  }
  .text {
    top: 50px;
  }
  .text .inner {
    padding-top: 0;
  }
  .text h2 {
    font-size: 20px;
    padding-bottom: 20px;
  }
  .text p {
    font-size: 15px;
  }
  #wenivs {
    bottom: 45vh;
  }
  #wenivs .licat {
    width: 100px;
  }
  #wenivs .gary {
    width: 70px;
  }
  #wenivs .javadog {
    width: 100px;
  }
  #wenivs .soulgom {
    width: 100px;
  }
  #wenivs .sun,
  .pie {
    width: 40px;
  }
  #wenivs .binky {
    width: 70px;
    padding-bottom: 10px;
  }
  #wenivs .mura {
    width: 90px;
  }
  #intro {
    left: 20vw;
    top: 10vh;
  }
  #intro h2 {
    font-size: 20px;
    padding-bottom: 10px;
  }
  #intro span {
    font-size: 15px;
    padding-bottom: 10px;
  }
  #intro p {
    font-size: 10px;
    line-height: 1.3;
  }
  #message .msg-img {
    width: 300px;
  }
  #message p {
    font-size: 30px;
  }
}

@media all and (min-width: 865px) and (max-width: 1024px) {
  .bgm__button--play {
	 width: 30px;
	 height: 30px;
	}
	.bgm__button--pause {
		width: 30px;
		height: 30px;
	}
  .cloud-sun {
    width: 200px;
  }
  .text {
    top: 50px;
  }
  #wenivs {
    bottom: 40vh;
  }
  #wenivs .licat {
    width: 150px;
  }
  #wenivs .gary {
    width: 100px;
  }
  #wenivs .javadog {
    width: 150px;
  }

  #wenivs .soulgom {
    width: 150px;
  }
  #wenivs .sun,
  .pie {
    width: 60px;
  }
  #wenivs .binky {
    width: 90px;
    padding-bottom: 15px;
  }
  #wenivs .mura {
    width: 110px;
  }
  #intro {
    left: 17vw;
    top: 15vh;
  }
  #intro h2 {
    font-size: 30px;
    padding-bottom: 20px;
  }
  #intro span {
    font-size: 20px;
    padding-bottom: 20px;
  }
  #intro p {
    font-size: 15px;
  }
  #message .msg-img {
    width: 400px;
  }
  #message p {
    font-size: 35px;
  }
}

@media all and (min-width: 1025px) and (max-width: 1366px) {
  #home .home-btn i {
    font-size: 40px;
  }
  .bgm__button--play {
	 width: 30px;
	 height: 30px;
	}
	.bgm__button--pause {
		width: 30px;
		height: 30px;
	}
  .text {
    top: 70px;
  }
  #intro {
    left: 17vw;
    top: 20vh;
  }
}

@media all and (min-width: 1367px) and (max-width: 1919px) {
	.bgm__button--play {
	 width: 40px;
	 height: 40px;
	}
	.bgm__button--pause {
	  width: 40px;
	  height: 40px;
	}
}

@media all and (min-width: 1920px) and (max-width: 2048px) {
  #home .home-btn i {
    font-size: 40px;
  }
  .text {
    top: 50px;
  }
  #wenivs {
    bottom: 400px;
  }
  #wenivs li {
    padding-right: 15px;
  }
  #wenivs img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
  #wenivs li:hover > img {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
  #intro {
    left: 270px;
    top: 200px;
  }
}
