footer {
  background-color: #f2f2f2;
  height: 263px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  position: relative;
  bottom: 0;
  min-width: 1190px;
}

.footer-content {
  width: 1190px;
  margin: 0 auto;
}

.link-box {
  padding-bottom: 43px;
  border-bottom: 1px solid #c4c4c4;
  margin-bottom: 33px;
  display: flex;
  justify-content: space-between;
}

.link-page {
  display: flex;
  flex-direction: column;
}

.link-page a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.44785;
  color: #000000;
}

.link-page a:first-child {
  margin-bottom: 20px;
}

.link-sns a {
  margin-left: 20px;
}

.co-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.co-info dl {
  display: flex;
}

.co-info-list div {
  display: flex;
  font-size: 14px;
  color: #4f4f4f;
}

.co-info-list div dt {
  font-weight: 700;
  margin-right: 7px;
}

.co-info-list div:first-child dt,
.co-info-list div:nth-child(4) dt {
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: 0;
}

.co-info-list div:first-child dd {
  font-weight: 700;
}

.co-info-list div dd::after {
  content: "|";
  font-weight: 700;
  margin: 0px 7px;
}

.co-info-list div:last-child dd::after {
  content: "";
}

.co-info strong {
  font-weight: 700;
}

.hiding-footer {
  display: none;
}

@media screen and (max-width: 420px) {
  footer {
    height: 100%;
    width: 100%;
    padding: 30px 25px 26px;
    min-width: 100%;
  }

  .footer-content {
    width: 100%;
  }

  .co-info-list {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  .link-box {
    display: block;
  }

  .link-page {
    margin-bottom: 42px;
  }

  .link-page a {
    font-size: 12px;
  }

  .link-page a:first-child {
    margin-bottom: 13px;
  }

  .link-sns a {
    margin-left: 16px;
  }

  .link-sns a img {
    width: 13px;
  }
  .link-sns a:nth-child(1) {
    margin-left: 0;
  }

  .link-box {
    padding-bottom: 0px;
    border-bottom: none;
    margin-bottom: 0px;
    display: block;
  }

  .co-info strong {
    position: absolute;
    right: 23px;
    font-size: 10px;
  }
}
