@import "./reset.css";
@import "./header.css";
@import "./footer.css";
@import "./home.css";
@import "./preview.css";
@import "./gide.css";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap");
@font-face {
  font-family: "GmarketSansTTFMedium";
  src: url("../fonts/GmarketSansTTFMedium.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GmarketSansTTFBold";
  src: url("../fonts/GmarketSansTTFBold.ttf");
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Noto Sans KR", sans-serif;
}

header {
  font-family: "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;
}

button {
  border: none;
}
