// header
header.header {
	position: relative;
	z-index: 10;
	background: var(--mainColor);
	a {
		display: block;
	}
	.head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 2rem 0;
		nav {
			ul {
				display: flex;
				gap: 24px;
				li {
					a {
						color: #fff;
						display: block;
						padding: 1.6rem;
						font-size: 1.8rem;
						transition: color 0.3s;
						&:not(.apply-btn):hover {
							color: var(--color3);
						}
					}
					&.active a {
						color: var(--color3);
						font-weight: bold;
						border-bottom: 4px solid var(--color3);
					}
					.apply-btn {
						background-color: #fff;
						padding: 1.6rem 6rem;
						border-radius: 40px;
						box-shadow: 0px 0px 10px 0px rgba(33, 139, 162, 0.5);
						color: var(--mainColor);
						font-weight: 700;
						&:hover {
							background-color: var(--color3);
						}
					}
				}
			}
		}
	}
}

@media (max-width: 1024px) {
	header.header {
		.head {
			flex-direction: column;
			padding: 3rem 0;
			nav ul {
				margin-top: 4rem;
				gap: 1rem;

				li a.apply-btn {
					padding: 1.6rem 2rem;
				}
			}
		}
	}
}

@media (max-width: 640px) {
	header.header .head {
		h1 img {
			display: block;
			max-width: 80%;
			margin: 0 auto;
		}
		nav {
			width: 100%;
			padding-left: 2rem;
			ul {
				justify-content: space-between;
				li a {
					font-size: 1.4rem;
					padding: 1.6rem 1rem;
				}
			}
		}
	}
}
